In [14]:
import pandas as pd
import gspread
from templates import *
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText
import smtplib

sa = gspread.service_account(filename='credentials.json')
sh = sa.open("Home Broker")
ws = sh.worksheet("alunos")

atributos = ['nome',
             'apelido',
             'turma',
             'cpf',
             'email',
             'ap_bloco', 'ap_numero', 'ap_vaga',
             'pontos_total', 'pontos_presenca', 'pontos_boletos',
             'pontos_iniciativas_I1_nome', 'pontos_iniciativas_I1_pontos',
             'pontos_iniciativas_I2_nome', 'pontos_iniciativas_I2_pontos',
             'pontos_iniciativas_I3_nome', 'pontos_iniciativas_I3_pontos',
             ]
alunos = pd.DataFrame(columns=atributos, data=ws.get("A2:Q100"))

alunos.head()

,nome,apelido,turma,cpf,email,ap_bloco,ap_numero,ap_vaga,pontos_total,pontos_presenca,pontos_boletos,pontos_iniciativas_I1_nome,pontos_iniciativas_I1_pontos,pontos_iniciativas_I2_nome,pontos_iniciativas_I2_pontos,pontos_iniciativas_I3_nome,pontos_iniciativas_I3_pontos
0,Joao Pedro Vieira,Silvs,25,05247562100,joaopcvieira962@gmail.com,C,310,D,100,0,0,Casd,10,Finance,50,ITA Jr,40
1,Joao Victor,Foton,26,123123,emailfoton@gmail.com,C,311,D,3,1,0.5,Casd,1,CASD,0.5,None,None
2,Nome do Grey,Grey,26,126146,emailgrey@gmail.com,A,124,A,4,2,1,Casd,1,None,None,None,None

In [9]:
for idx, linha in alunos.iterrows():
    print("O nome do aluno é: {nome}. Seus pontos sao {pts} pontos".format(nome = linha.nome, pts = linha.pontos_total))

O nome do aluno é: Joao Pedro Vieira. Seus pontos sao 100 pontos
O nome do aluno é: Joao Victor. Seus pontos sao 3 pontos
O nome do aluno é: Nome do Grey. Seus pontos sao 4 pontos

In [9]:
alunos.sort_values(by=['pontos-total'], ascending=False, inplace=True)
alunos

,nome,apelido,turma,cpf,email,ap-bloco,ap-numero,ap-vaga,pontos-total,pontos-presenca,pontos-boletos,pontos-iniciativas-I1-nome,pontos-iniciativas-I1-pontos,pontos-iniciativas-I2-nome,pontos-iniciativas-I2-pontos,pontos-iniciativas-I3-nome,pontos-iniciativas-I3-pontos
2,Nome do Grey,Grey,26,126146,emailgrey@gmail.com,A,124,A,4,2,1,Casd,1,None,None,None,None
1,Joao Victor,Foton,26,123123,emailfoton@gmail.com,C,311,D,3,1,0.5,Casd,1,CASD,0.5,None,None
0,Joao Pedro Vieira,Silvs,25,05247562100,joaopcvieira962@gmail.com,C,310,D,100,0,0,Casd,10,Finance,50,ITA Jr,40